body {
  margin: 0;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  background: #f0f0f0;
}
a {
  color: #06a;
  text-decoration: none;
  text-shadow: 1px 1px 0 #f0f0f0;
}
a:hover {
  color: #09f;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h2 {
  color: #444;
  margin: 0 0 5px;
}
h3 {
  color: #888;
  margin: 0 0 10px;
}
header#main-header {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #373737), color-stop(0, #000000));
  padding: 10px 10%;
  margin: 0 0 10px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
header#main-header h1 {
  margin: 0;
  height: 33px;
  float: right;
}
header#main-header input#command {
  border: none;
  padding: 6px;
  float: left;
  border-radius: 4px;
  position: absolute;
  left: 10%;
  right: 300px;
}
section#results {
  margin: 10px 10%;
}
ul#results {
  list-style: none;
  padding: 0;
  font-size: 11px;
  color: #444;
}
ul#results li {
  margin: 0 0 8px;
  background: #fafafa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
pre.val, div.val {
  font-family: Menlo, Monaco, Consolas, monospace;
  margin: 0;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
.active .val {
  border-color: #d82a20;
  border-left-width: 5px;
  padding-left: 6px;
}
.type {
  float: left;
  margin: 0 0 0 10px;
  padding: 11px 0 0;
  font-weight: bold;
}
.key {
  font-weight: bold;
  float: left;
  margin: 0 10px 0 0;
  padding: 11px 0 0;
}
.val {
  float: left;
}
.commands {
  float: left;
  margin: 0 0 0 10px;
  padding: 11px 0 0;
}
ul#quick {
  clear: both;
  overflow: hidden;
}
ul#quick > li {
  float: left;
  margin: 0 5px 0 0;
}
ul#quick > li a {
  text-shadow: 1px 1px 0 #666;
  color: #fff;
}
